    global
        daemon

    defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

    frontend http-in
        bind *:80
        default_backend servers

    backend servers
        option httpchk GET /health
        http-check expect status 200
        server message1 message1:9007 maxconn 32 check fall 3 rise 2
        server message2 message2:9007 maxconn 32 check fall 3 rise 2
        server message3 message3:9007 maxconn 32 check fall 3 rise 2
